html { overflow-y: scroll; }

canvas {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #000;
    color: floralwhite;
    padding: 0;
}

@font-face {
    font-family: terminal;
    src: url('/static/font.ttf') format('truetype');
}

#console {
    color: white;
    font-family: terminal, sans-serif;
}

#init_info {
    white-space: pre-wrap;
    color: white;
    font-family: terminal, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Github source link */
#bottom_container {
    height: 12%;
    position: fixed;
    bottom: 0%;
    width: 100%;
    opacity: 1;
}

#source_link {
    padding-bottom: 1;
    color: red;
    padding-left: 30px;
}

#github_logo {
    -webkit-filter: drop-shadow(5px 5px 5px #111);
    filter: drop-shadow(6px 8px 12px #111);
}

#form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #22272e;
}

#timer {
    color: white;
    font-family: terminal, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    color: white;
    font-family: terminal, sans-serif;
    font-size: 45px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    color: white;
    font-family: terminal, sans-serif;
    font-size: 18px;
    align-items: center;
}

.main_body {
    background-color: #22272e;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

img {
    /* height: 600px; */
}

.label {
    color: white;
    font-family: terminal, sans-serif;
    font-size: 35px;
}

.list_element {
    clear: both;
    color: white;
    font-family: terminal, sans-serif;
    font-size: 35px;
}

.element_title {
    border-style: groove;
}

.slider {
    height: 24px;
    background: #36aebf;
    opacity: 80;
    border-radius: 5px;
}

.empty-slider {
    height: 24px;
    background: linear-gradient(45deg, #fff, #e2e2e2);
    opacity: 100;
    border-radius: 5px;
}

.bar {
    font-size: 24px;
    float: left;
}

.loading {
    font-size: 20px;
}

.page_index {
    background-color: #22272e;
    font-size: 36px;
    float: right;
}

.dropdown {
    max-width: 30%;
    overflow: hidden;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.centered {
    display: flex;
    align-items: center;
}

.button_text {
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.nothing_found_text {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: grey;
}

.image {
    display: inline-block;
}

.rotated-image {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

/* Button style */
.glow-on-hover {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 60px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #f00, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #f00);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 60px;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #101111;
    left: 0;
    top: 0;
    border-radius: 60px;
}

.glow-on-hover:active {
    color: #111;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.not-glow-on-hover {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #101111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 60px;
}

.stopped_process {
    color: red;
    font-size: 500px;
}

.button-placeholder {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 60px;
    visibility: hidden;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: inline-block;
}

/* Font size control for different devices */

/* Very small mobile devices */
@media (min-width: 544px) {
    #header {
        font-size: 50px;
        margin-top: 2%;
    }
    #init_info { font-size: 30px; }
    .dropdown { max-width: 60%; }
    .button_text { font-size: 18px; }
    .nothing_found_text { font-size: 18px; }
    .description { font-size: 18px; }
}

/* Medium devices (tablets, 768px and up) and newer phones. The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #header {
        font-size: 70px;
        margin-top: 10%;
    }
    #init_info { font-size: 25px; }
    #timer { font-size: 40px; }
    .dropdown { max-width: 70%; }
    .button_text { font-size: 22px; }
    .nothing_found_text { font-size: 20px; }
    .description { font-size: 24px; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #header {
        font-size: 45px;
        margin-top: 2%;
    }
    #init_info { font-size: 20px; }
    .dropdown { max-width: 40%; }
    .button_text { font-size: 20px; }
    .nothing_found_text { font-size: 18px; }
    .description { font-size: 18px; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #header {
        font-size: 50px;
        margin-top: 2%;
    }
    #init_info { font-size: 20px; }
    .dropdown { max-width: 40%; }
    .button_text { font-size: 22px; }
    .nothing_found_text { font-size: 20px; }
    .description { font-size: 20px; }
}
