@font-face {
    font-family: terminal;
    src: url('/font.ttf') format('truetype');
}

#console {
    white-space: pre-wrap;
    font-family: terminal, sans-serif;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-family: terminal, sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    font-family: terminal, sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
